body {
    background-color: #f7ca4d;
    margin-top: 100px;
    font-family: helvetica, sans-serif;
    height: 100%;
    margin-left: 0;
    margin-right: 0
}

.landing-page {
    display: grid;
    height: 100%;
}

.img1 {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 90%;
}

.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.panel-left {
    float: left;
    width: 200px;
    height: 100%;
    padding: 15px;
    margin-right: 40px;
    border-right-style: inset;
    background-color: lightgray;
}



#myCanvas {
    border-style: solid;
    border-color: black;
    background-color: #ffca1a;
    width: 70%;
    height: 70%;
    
}

.pre-game {
    display: block;
}

.lobby {
    display: none;
}

.game-running {
    display: none;
}

.game-over {
    display: none;
}

.red-button {
    color: whitesmoke;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-size: large;
    width: auto;
    padding: 10px 20px;
    margin-left: 30px;
    margin-right: 30px;

}

.popup-button {
    color: whitesmoke;
    background-color: crimson;
    border: none;
    float: right;
    border-radius:10px;
    font-size: medium;
    width: auto;
    padding: 8px 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    display: block;
}

.errorMessage{
    text-align: center;
}

.panel-button {
    color: whitesmoke;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-size: medium;
    width: auto;
    padding: 8px 20px;
    display: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

.test-button {
    color: black;
    background-color: whitesmoke;
    border: none;
    width: auto;
    border-radius: 10px;
    font-size: medium;
    padding: 8px 20px;
    margin-bottom: 15px;
}

.game-board {

    justify-content: center;
    align-items: center;
}

.site-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color: #f7ca4d;
    top: 0;
    width: 100%;
}

.site-header__wrapper {
    display: flex;
    align-items: center;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    overflow-y:auto;
    background-color: rgba(217, 217, 217, 255);
    width: 50%;
    max-width: 800px;
    max-height: 75vh;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.popup-content .button-container button {
    flex: 1;
}

#startGameButton {
    display: none;
}

#rollDiceButton img {
    color: whitesmoke;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    font-size: medium;
    width: 75%;
    height: auto;
    padding: 8px 20px;
}


#joinGameInputId {
    width: 80%; /* Adjust width as needed */
    padding: 10px; /* Add padding for spacing */
    font-size: 16px; /* Adjust font size as needed */
    margin: 0 auto; /* Center the input horizontally */
    display: block; /* Ensure the input is a block element */
    box-sizing: border-box; /* Include padding and border in total width */
}

#adminNameInput {
    width: 80%; /* Adjust width as needed */
    padding: 10px; /* Add padding for spacing */
    font-size: 16px; /* Adjust font size as needed */
    margin: 0 auto; /* Center the input horizontally */
    display: block; /* Ensure the input is a block element */
    box-sizing: border-box; /* Include padding and border in total width */
}

#clientNameInput {
    width: 80%; /* Adjust width as needed */
    padding: 10px; /* Add padding for spacing */
    font-size: 16px; /* Adjust font size as needed */
    margin: 0 auto; /* Center the input horizontally */
    display: block; /* Ensure the input is a block element */
    box-sizing: border-box; /* Include padding and border in total width */
}

label {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + img {
    border: 2px solid transparent;
    transition: border 0.3s;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

input[type="radio"]:checked + img {
    border: 2px solid blue;
}

.dropdown-container {
    margin: 20px;
}

.dropdown-button {
    padding: 10px 20px;
    font-size: 16px;
}